@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
.wavesurfer-region {
  border-right: 2px solid black;
  border-left: 2px solid black;
}

.float-right {
  margin-left: auto;
}
